.cloud-nav{
    background:linear-gradient(90deg,#020617,#0f172a);
    backdrop-filter:blur(10px);
}

.cloud-nav .nav-link{
    color:#e5e7eb;
}

.cloud-nav .nav-link:hover{
    color:#f59e0b;
}

.cloud-nav .navbar-brand{
    color:#f59e0b;
    font-weight:700;
}

body{
    margin:0;
    font-family:system-ui, -apple-system, sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
    color:white;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    position: relative;
    overflow: hidden;
}

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:url("eagle2.png") no-repeat center;
    background-size:520px;
    opacity:0.15;
}

.hero-box {
    position: relative;
    z-index: 2;
}

.hero-box h1 {
    color:#f59e0b;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 15px;
     
}

.hero-box p {
    color:#e2e8f0;
    font-size: 20px;
    
}

.hero-btn{
background:linear-gradient(45deg,#f59e0b,#ffb020);
color:#111;
font-weight:600;
padding:18px 42px;
border-radius:40px;
box-shadow:0 10px 40px rgba(255,170,0,0.3);
 transition:0.3s;
}

.hero-btn:hover{
transform:translateY(-3px);
}

.cloud-footer{
    background:#020617;
    color:#e5e7eb;
}
.cloud-footer h5,
.cloud-footer h6{
    font-weight:600;
    margin-bottom:15px;
}

.cloud-footer p{
    color:#555;
    max-width:280px;
}

.cloud-footer ul{
    list-style:none;
    padding:0;
}

.cloud-footer ul li{
    margin-bottom:8px;
}

.cloud-footer ul a{
    text-decoration:none;
    color:#444;
    transition:.2s;
}

.cloud-footer ul a:hover{
    color:#4b63ff;
}

.socials a{
    font-size:20px;
    margin-right:15px;
    color:#222;
    transition:.3s;
}

.socials a:hover{
    color:#4b63ff;
    transform:translateY(-3px);
}

.footer-bottom{
    margin-top:40px;
    text-align:center;
    font-size:14px;
    color:#777;
}
@media(max-width:768px){
    .hero-box h1{
        font-size:42px;
    }
}